data/char_dictionary.json
data/char_emb.json
data/dev_eval.json
data/dev_meta.json
data/dev.tfrecords
data/test_eval.json
data/test_meta.json
data/test.tfrecords
data/train_eval.json
data/train.tfrecords
data/word_dictionary.json
data/word_emb.json
datasets/NewsQA.json
datasets/NewsQA.jsonl
datasets/TriviaQa-web.json
datasets/TriviaQA-web.jsonl
datasets/glove/glove.840B.300d.txt
datasets/glove/glove.840B.300d.zip
datasets/squad/dev-v1.1.json
datasets/squad/train-v1.1.json
train/FRC/answer/answer.json
train/FRC/event/events.out.tfevents.1563601138.user
train/FRC/event/events.out.tfevents.1563603297.user
train/FRC/event/events.out.tfevents.1563618287.user
train/FRC/model/checkpoint
train/FRC/model/model_1.ckpt.data-00000-of-00001
train/FRC/model/model_1.ckpt.index
train/FRC/model/model_1.ckpt.meta
train/FRC/model/model_2.ckpt.data-00000-of-00001
train/FRC/model/model_2.ckpt.index
train/FRC/model/model_2.ckpt.meta
train/FRC/model/model_27000.ckpt.data-00000-of-00001
train/FRC/model/model_27000.ckpt.index
train/FRC/model/model_27000.ckpt.meta
train/FRC/model/model_28000.ckpt.data-00000-of-00001
train/FRC/model/model_28000.ckpt.index
train/FRC/model/model_28000.ckpt.meta
train/FRC/model/model_29000.ckpt.data-00000-of-00001
train/FRC/model/model_29000.ckpt.index
train/FRC/model/model_29000.ckpt.meta
train/FRC/model/model_30000.ckpt.data-00000-of-00001
train/FRC/model/model_30000.ckpt.index
train/FRC/model/model_30000.ckpt.meta
train/FRC/model/model_31000.ckpt.data-00000-of-00001
train/FRC/model/model_31000.ckpt.index
train/FRC/model/model_31000.ckpt.meta
train/FRC/model/model_56000.ckpt.data-00000-of-00001
train/FRC/model/model_56000.ckpt.index
train/FRC/model/model_56000.ckpt.meta
train/FRC/model/model_57000.ckpt.data-00000-of-00001
train/FRC/model/model_57000.ckpt.index
train/FRC/model/model_57000.ckpt.meta
train/FRC/model/model_58000.ckpt.data-00000-of-00001
train/FRC/model/model_58000.ckpt.index
train/FRC/model/model_58000.ckpt.meta
train/FRC/model/model_59000.ckpt.data-00000-of-00001
train/FRC/model/model_59000.ckpt.index
train/FRC/model/model_59000.ckpt.meta
train/FRC/model/model_60000.ckpt.data-00000-of-00001
train/FRC/model/model_60000.ckpt.index
train/FRC/model/model_60000.ckpt.meta
